@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: 'Roboto';
  src: url('/FRONTEND/src/Fonts/Roboto/Roboto-Regular.ttf');
} */
.navbar-header{
  background-color: black;
 
}
.navbar-header ul{
  display: flex;
}
.navbar-header > *{
  color: white;
}